# Ignorar arquivos e pastas gerados por Python
__pycache__/
*.py[cod]

# Ignorar arquivos de configuração do ambiente virtual
env/
venv/
ENV/
.venv/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de pacotes instalados
*.egg-info/
*.egg

# Ignorar arquivos de cache
.cache/
.pytest_cache/

# Ignorar arquivos de configurações específicas de IDEs
.vscode/
.idea/

# Ignorar arquivos de sistema operacionais (macOS, Windows, Linux)
.DS_Store
Thumbs.db
